@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<body>
@model dojoSurveyWithModel.Models.Survey

    <div class="box">
        <h1>Dojo Survey</h1>
        <form action='/survey' method='post'>
            Full Name: <input type='text' name='name'>
            <p>Dojo Location:
                <select name="dojo_location">
                    <option value="Chicago">Chicago, IL</option>
                    <option value="San Francisco">San Francisco, CA</option>
                    <option value="Tysons">Tysons Corner, VA</option>
                    <option value="Dalls">Dallas, TX</option>
                </select>
            </p>
            <p>Favorite Language:
                <select name="favorite_language">
                    <option value="CSS">CSS</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="HTML">HTML</option>
                    <option value="Java">Java</option>
                </select>
            </p>
            <p>Comments (optional):
                <textarea name="comments" id="description"></textarea>
                <p><input type="submit" value="Submit"></p>
        </form>
    </div>
</body>